*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
apk-output/
*.apk
*.aab
*.keystore
!debug.keystore
signing.properties

__pycache__/
*.pyc
